<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @chapter.course.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Order number:</strong>
  <%= @chapter.order_number %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
